.purchasepause input[value="Move to Cart"], 
.purchasepause .ewc-checkout-buttons,
.purchasepause .ewc-checkbox.ewc-gift-box {
	display: none;
}

.purchasepause .checkTime {
	color: #0066C0;
	cursor: pointer;
}

.purchasepause .checkTime:hover {
	color: #E47911;
	text-decoration: underline;
}


/* Disable one click */
.purchasepause #oneClick_feature_div,
.purchasepause #a-autoid-1.onml-one-click-button,
.purchasepause #attach-sidesheet-checkout-button,
.purchasepause #oneClickCartButton,
.purchasepause .sc-one-click-divider,
.purchasepause .g-cart-checkout-btn,
.purchasepause span.g-cart-checkout-btn,
.purchasepause #submit.buy-now,
.purchasepause a[data-action="pantry-bulk-move-to-cart"],
.purchasepause a[data-action="pantry-bulk-delete"],
.purchasepause a[data-action="pantry-bulk-save-for-later"],
.purchasepause #rcx-subscribe-submit-button,
.purchasepause #rcx-subscribe-submit-button-announce,
.purchasepause #oneClickSignIn,

.purchasepause .a-button-oneclick,
.purchasepause #buy-now-button,
.purchasepause #submit.buy-now,
.purchasepause #oneClickBuyButton,

.purchasepause #ewc-checkout,
.purchasepause .ewc-checkout-buttons
{
	display: none !important;
}
