/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
  width: 400px;
  min-height: 400px;
  margin: 0;
  padding: 5px;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
#quickstart-sign-in-status {
  font-weight: bold;
}
pre {
  overflow-x: scroll;
  line-height: 18px;
}
code {
  white-space: pre-wrap;
  word-break: break-all;
}
#name-title {
  background: url('purchase_pause_icon.png') no-repeat;
  background-size: 40px;
  padding-left: 50px;
  line-height: 40px;
}

#photo.small {
  width: 100px;
}

#loading {
  height: 30px;
}

#container input {
  display: block;
}

#error-message {
  color: red;
  font-weight: bold;
}

#login-methods,
#login-found,
#login-form,
#sign-up-form,
#veriy-email,
#agreed-toc,
#consent-form,
#loggedIn,
#clear-history  {
  display: none;
}

/*#login-methods {
  text-align: center;
}*/

#login-methods div {
  padding: 20px 0;
}

#login-methods .login,
#login-methods .google,
#login-methods .signup {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid black;
  color: black;
}

.logo {
  padding: 10px;
}

.logo img {
  height: 30px;
  padding-right: 5px;
}

#login-methods .signup {
  display: inline-block;
}

#container.loggedIn #loggedIn {
  display: block;
}

#container.NotLoggedIn #login-methods {
  display: block;
}

#container.signUp #login-methods,
#container.signUp #sign-up-form {
  display: block;
}

#container.login #login-methods,
#container.login #login-form {
  display: block;
}














